#main_flex_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
}
#main_flex_box #sing_up_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  padding-top: 70px;
  position: relative;
  font-family: "Ubuntu", serif;
}
#main_flex_box #sing_up_form #sign_up_inputs div {
  display: flex;
  align-items: center;
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
  border-bottom: 1px solid #b4b4b4;
  position: relative;
}
#main_flex_box #sing_up_form #sign_up_inputs div:focus-within:before {
  height: 2px;
  width: 100%;
  bottom: -1px;
  left: 0;
  position: absolute;
  background: rgba(205, 54, 54, 0.7);
  content: "";
  animation: show 0.4s ease-in;
}
@keyframes show {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
#main_flex_box #sing_up_form #sign_up_inputs div label {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
#main_flex_box #sing_up_form #sign_up_inputs div label input {
  border: none;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-family: "Ubuntu", serif;
}
#main_flex_box #sing_up_form #sign_up_inputs div label input::placeholder {
  color: #3e3144;
}
#main_flex_box #sing_up_form #sign_up_inputs div label input:focus {
  outline: none;
}
#main_flex_box #sing_up_form #sign_up_inputs div label input:focus:invalid {
  box-shadow: none;
  background: url("../resources/icons/warning-sign.png") no-repeat 95% 50%;
  background-size: 18px;
}
#main_flex_box #sing_up_form #sign_up_inputs div label input:focus:valid {
  box-shadow: none;
  background: url("../resources/icons/accept.png") no-repeat 95% 50%;
  background-size: 18px;
}
#main_flex_box #sing_up_form #sign_up_inputs div label input:invalid {
  box-shadow: none;
}
#main_flex_box #sing_up_form #sign_up_inputs div label img {
  width: 20px;
  margin-right: 15px;
}
#main_flex_box #sing_up_form #button {
  margin-top: 20px;
  width: 251px;
  height: 74px;
  background: url("../resources/images/button.png");
  filter: grayscale(90%);
  cursor: pointer;
  transition: 0.3s;
}
#main_flex_box #sing_up_form #button:hover {
  filter: grayscale(0);
  opacity: 0.8;
  transition: 0.3s;
}
#main_flex_box #sing_up_form #error_message {
  position: absolute;
  display: flex;
  font-family: "Ubuntu", serif;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  bottom: 70px;
  left: -70px;
  width: 400px;
  height: 70px;
  background: url("../resources/images/error.png");
  opacity: 0;
  transition: 1s;
  visibility: hidden;
}
#main_flex_box #right_picture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main_flex_box #right_picture img {
  width: 35vw;
  z-index: 1;
}

.error_404 {
  background-color: #333333;
  color: #849a99;
}
.error_404 h1 {
  font-size: 170px;
  margin: 0;
}
.error_404 h2 {
  font-size: 30px;
  margin: 0;
  line-height: 40px;
}
.error_404 .text_404 {
  border-bottom: 1px solid #777664;
  padding-bottom: 10px;
}
.error_404 .sun {
  position: absolute;
  background: url("../resources/404/moon.png");
  background-size: 11.589vw;
  width: 11.589vw;
  height: 11.589vw;
  right: 13.279vw;
  top: 10vh;
  /*
  background-size: 240px;
  width: 240px;
  height: 240px;
  right: 275px;
  top: 165px;
  */
}

/*# sourceMappingURL=style.css.map */
